/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
}
header {
  margin: 50px auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}
h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 0 0 40px;
  font-size: 1.2em;
}
nav li a {
  text-decoration: none;
  color: black;
}
.bold {
  font-weight: bold;
}
.nav_social {
  height: 20px;
  width: 20px;
}
li:hover,
li a:hover {
  color: #b1663c;
}
.forgot_password {
  text-decoration: underline;
  color: #3d3d3d;
  font-weight: bold;
  text-align: center;
}
#connect_form {
  width: 379px;
  margin: 150px auto;
}
#connect_form > * {
  text-align: center;
}
#connect_form h2 {
  margin-bottom: 20px;
}
#connect_form form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#email,
#password {
  width: 379px;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#connect_form label {
  margin: 2em 0 1em 0;
}
input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1.2em;
  color: white;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: #1d6154;
  margin: 2em auto;
  height: 50px;
  width: 200px;
  text-align: center;
  border-radius: 60px;
}
input[type="submit"]:hover {
  background-color: #0e2f28;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.error {
  text-align: center;
  padding-bottom: 30px;
  color: red;
}
footer {
  background-color: white;
  padding-block: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0 2em 0;
}
